/* PALETA DE COLORES */
$color-primary: #e3b1f4;
$color-secondary: #f44708;
$color-light: #f9f5e5;
$color-dark: #222121;
$color-orangeRed: #f44708;
$color-rose: #f2cbbe;
$color-lime: #e3b1f4;
$color-blue: #000000;
$color-light2: #f9f5e5;

/* Paleta de colores en forma de maps */
$palette: (
    "primary": #e3b1f4,
    "secondary": #f44708,
    "light": #f9f5e5,
    "dark": #222121,
    "light2": #f9f5e5
);